.clock-container {
  margin-top: 15rem;
  padding: 10rem 5rem;
  text-align: center;
  position: relative;
}

.time {
  font-size: 300%;
  color: #6ddef7;
  font-weight: 900;
}

.btn {
  margin: 1rem 0.2rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  background-color: #6ddef7;
  border: none;
  color: white;
}

.text {
  padding-bottom: 0.2rem;
  color: #0c8ab0;
}

.progress-circle {
  position: absolute;
  width: 319px;
  height: 260px;
  z-index: -10;
  top: 55px;
  left: -5px;
}

.right {
  position: absolute;
  right: 0;
  width: 160px;
  height: 350px;
  overflow: hidden;
}

.rightcircle {
  width: 320px;
  height: 320px;
  border: 20px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid #6ddef7;
  border-right: 20px solid#6ddef7;
  background-color: rgb(240, 250, 255);
}

.left {
  position: absolute;

  width: 160px;
  height: 350px;
  overflow: hidden;
}

.leftcircle {
  width: 320px;
  height: 320px;
  border: 20px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 20px solid #6ddef7;
  border-left: 20px solid #6ddef7;
  background-color: rgb(240, 250, 255);
}
