.setting-menu {
  position: relative;

  text-align: center;

  display: flex;
  flex-direction: column;
}

.control {
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 250, 255);
  color: #0c8ab0;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu {
  position: absolute;
  top: -50px;
  width: 60%;
  left: 20%;
}
